@media (max-width: 580px) {
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-img {
    max-width: 580px;
    margin-bottom: 10px;
  }
  #nav-bar {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .nav-link {
    margin: 3px;
  }
  #form {
    padding-top: 167px;
  }
  .detail-icon {
    display: none;
  }
  .service-details {
    text-align: center;
  }
}

@media (min-width: 581px) and (max-width: 750px) {
  #nav-bar {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .nav-link {
    margin: 2px;
  }
  #form {
    padding-top: 115px;
  }
}

@media (min-width: 900px) {
  #product-options {
    flex-direction: row;
    justify-content: center;
  }
}
